<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Individual column searching (text inputs) </h5><span>Search your product from here..</span>
        </div>
        <div class="card-body">
          <div class="table-responsive product-list-custom server-datatable">
            <div class="table-responsive">
              <ng2-smart-table [settings]="settings" [source]="products"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Individual column searching (text inputs) Ends-->
  </div>
</div>
<!-- Container-fluid Ends-->