<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Basic Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel1Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Responsive Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel2Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Center Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel3Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Merge Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel4Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Auto Width Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel5Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>URL Hash Navigations</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel6Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Events</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel7Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Stage Padding Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel8Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Right to Left Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel9Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Lazy load Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel10Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Animate Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel12Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Auto Play Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel13Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Auto Height Example</h5>
        </div>
        <div class="card-body">
          <owl-carousel-o [options]="owlcarousel14Options">
            <ng-container *ngFor="let img of owlcarousel1">
              <ng-template carouselSlide class="item">
                <img [src]="[img.img]" alt="">
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>